<h3>Employee List:</h3>
<ul><% @employees.each do |employee|%>
    <li><%= link_to (employee.first_name + " " + employee.last_name), employee_path(employee) %></li>
<% end %></ul>
<br>
<%= link_to "Check out the Dogs list", dogs_path %>