<h1>Dunder Mifflin Employees</h1>
<h3><%= link_to "Create an Employee", new_employee_path %></h3>
<hr>
<% @employees.each do |employee| %>
<p><%= link_to "#{employee.first_name} #{employee.last_name}", employee_path(employee)%></p>
<% end%>