<h1> <%= @dog.name %> </h1>

<h3>Breed: <%= @dog.breed %> </h3>

<h3>Age: <%= @dog.age %> </h3>

<h3>Employees:</h3>

<% @employees.each do |employee| %>
    <%= link_to employee.full_name, employee_path(employee) %> <br>
<% end %>
